.res-menu{display: none;}

@media (max-width:1200px ){
	.container{width: 98%}
	.header .menu{width: 80%}
	.header .menu .menu{width: 100%}
	.banner img{height: auto;}
	.blogg .blogg-box{width: 22%}
	.header .menu ul li{margin-bottom: 0px;}
}

@media (max-width:900px ){
	.header .menu ul li{font-size:13px; margin: 5px 10px }
	.blogg .blogg-box{width: 31%; margin: 0px 5px 10px 5px; min-height: auto}
	.form.up-banner .left .col-2{width: 100%}
	.car-points li{width: 49%}
}

@media (max-width:768px ){
	.top-bar .left{width: 100%; text-align: center;}
	.top-bar ul li{float: none; display: inline-block;}
	.top-bar .right{width: 100%; text-align: center;}
	.top-bar .right ul{float: none;}
	.header{text-align: center;}
	.header .logo{float: none;}
	.header .menu{width: 100%}
	.contact{text-align: center;}
	.contact .widget_text{float: none;}
	.header .menu ul li{float: none;text-align: left;margin: 10px 5px;}
	.short-serv{margin-top:40px;}
	.short-serv ul li{width: 125px;}
	.abt .left{width: 100%}
	.abt a{margin-top: 0px;}
	.abt .right{width: 100%}
	.blogg .blogg-box{width: 46%; height: 430px;}
	.footer-last p:first-child{text-align: justify;}
	.res-menu-toogle{display: none;}
	.res-menu{display: block;background: #0b3857;color: white;font-weight: bold;text-align: right;padding: 4px 7px;cursor: pointer;font-size: 20px;border-radius: 3px;width: 100%;float: right;box-sizing: border-box; }
	.form.up-banner .left-serv{width: 100%; margin-top: 0px; margin-bottom: 20px}
	.form.up-banner .right-serv{width: 100%}
	.serv-form{margin-top: 0px;}
	.abt{text-align: center;}
	.abt ol{text-align: left;}
	.form.up-banner .left-serv p{text-align: center;}
	.car-points li{width: 100%}
}

@media (max-width:500px ){
	.top-bar .left{border-bottom: 1px dashed white; padding-bottom: 5px;}
	.top-bar .right ul{padding-top: 5px;}
	.top-bar ul li{padding: 4px 8px!important}
	.rslides_nav{display: none;}
	.short-serv ul li{padding: 12px 5px}
	.intro input{width: 90%}
	.abt h2{margin: 0px;}
	.blogg .blogg-box{width: 90%; height: auto;}
	.footer-last ul li{margin: 7px}
	.footer-last p:first-child{margin-top: 20px; margin-bottom: 20px}
	.form.up-banner .left{width: 100%}
	.form.up-banner .left .col-2{width: 100%}
	.form.up-banner .inp-full{box-sizing: border-box;}
	.form.up-banner .right{padding-top: 0px; width: 100%}
	.form.up-banner .left .col-2 select{width: 100%}
	.form.up-banner .right{padding: 0px 10px 0px 10px}
	.form.up-banner .right input{width: 98%}
	.form.up-banner input{width: 98%}
}