/*
Theme Name: Online Policy Care
Theme URI: http://onlinepolicycare.com
Description: Online Policy Care
Version: 1.4.3
*/

@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

body{margin: 0px; padding: 0px; font-family: 'Muli', sans-serif;}
ul{padding: 0px;margin: 0px;}
ul li{list-style: none;}
h1{font-size: 34px;color: #0b3857;}
h2{}
h3{font-size: 26px;}
h4{font-size: 22px;}
h5{}
h6{}
p{font-size: 16px;}
a{text-decoration: none;}
*{outline: none}

.clear{clear: both;}

.container{width: 1170px;margin: 0 auto;}

.top-bar{background: #0b3857;width: 100%;display: inline-block;font-size: 12px;}
.top-bar .left{float: left;}
.top-bar ul{}
.top-bar ul li{float: left;padding: 8px 10px;}
.top-bar ul li a{color: white;}
.top-bar .right{float: right;}
.top-bar .right ul{float: left;}
.top-bar .right i{color: #a4c639;font-size: 20px;margin: 5px 4px;}

.header{width: 100%;display: inline-block;padding: 5px 0px;}
.header .logo{float: left;}
.header .logo img{width: 128px;}
.header .menu{float: right; width: 900px}
.header .menu ul{}
.header .menu ul li{float: left;font-weight: bold;text-transform: uppercase;margin: 10px 15px;}
.header .menu ul li:last-child{margin-right: 0px}
.header .menu ul li:hover a{text-decoration: underline;}
.header .menu ul li a {color: #0b3857;}

.contact{float: right;font-weight: bold;margin: 15px 0px 5px 0px;width: 100%;text-align: right;}
.contact strong{font-size:10px; color:#06C; margin-left:5px; cursor: pointer;}
.contact p{margin: 0px; display: inline-block;}
.contact .widget_text{float: right;}
.contact i{font-weight: bold;}
.contact .fa-whatsapp{color: #a4c639;}

.banner{    display: inline-block;}
.banner img{width: 100%; height:480px;}
.rslides{max-width: 100%!important;}
.rslides_container{margin-bottom: 0px!important;}

.short-serv{text-align: center;margin-top: -50px;position: relative;z-index: 999;}
.short-serv ul{}
.short-serv ul li{display: inline-block;margin: 0px 4px;background: white;padding: 20px 2px;font-size: 16px;margin-bottom: 20px;border-radius: 3px;box-shadow: 0px 1px 2px #0b3857;color: #0b3857;font-weight: bold;text-transform: uppercase;cursor: pointer;}
.short-serv ul li:hover{background: #0b3857;color: white}
.short-serv ul li:hover i{color: white}
.short-serv a{color: #0b3857;display: inline-block;}
.short-serv i{display: inline-block;width: 100%;font-size: 22px;margin-bottom: 10px;}

.intro {text-align: center;}
.intro h1{text-align: center;}
.intro input{border: 1px solid #1d85c2;border-radius: 1px;padding: 8px 8px;font-size: 16px;width: 360px;height: 22px;}
.intro .wpcf7-submit{width: 100px;border: 0px;background: #1d85c2;color: white;text-transform: uppercase;font-size: 17px;height: 40px;}

.abt{margin: 70px 0px;padding: 30px 0px 30px 0px;overflow: auto;background: url('../../uploads/2017/07/banner_2-copy.jpg');background-size: cover;background-position: center center;color: white;font-size: 16px; line-height: 30px}
.abt ul {margin: 0px 0px 0px 20px;}
.abt ul li{list-style: decimal;line-height: 34px;}
.abt h2{font-size: 30px;}
.abt p{}
.abt a{background: white;padding: 15px 20px;display: inline-block;color: #0b3857;font-weight: bold;font-size: 14px;}
.abt a:hover{background: #0b3857; color: white}
.abt .left{float: left;width: 48%;}
.abt .right{float: right;width: 48%;}

.blogg{text-align: center;margin-bottom: 50px;}
.blogg .blogg-box{width: 265px;display: inline-block;margin: 0px 10px;border: 1px solid #c9c9c9;vertical-align: top;padding-bottom: 10px;cursor: pointer;background: #0b3857;min-height: 405px;}
.blogg .blogg-box h3{padding: 10px 0px;color: white;border-bottom: 1px solid white;margin: 0px;}
.blogg .blogg-box img{width: 100%;}
.blogg .blogg-box ul{font-size: 14px;margin: 10px;}
.blogg .blogg-box ul li{text-align: left;color: white;list-style: disc;margin-left: 22px;line-height: 25px;}
.blogg .blogg-box ul li a{   color: white;}

.insurer{background: url('images/bg-insurer.gif');padding: 10px 0px;}
.insurer h4{text-align: center;margin: 0px; font-style: italic; }

.footer-last{background: #0b3857;text-align: center;font-size: 14px;padding: 10px 0px;color: white;}
.footer-last ul{}
.footer-last ul li {display: inline-block;margin: 10px;}
.footer-last ul li a{color: white;}
.footer-last p{font-size: 12px;padding-bottom: 10px; margin: 0px}
.footer-last font{}

#back-top {position: fixed;bottom: 30px; height:100px; width:100px; right:0px;}

.bx-wrapper{max-width: 100%!important}
.bx-wrapper ul.kiwi-logo-carousel.align-center li div.helper{height: 100px!important}

.cont-left {width: 900px;float: left; margin-bottom: 50px}
.cont-left .aligncenter {float: none;margin: 0 auto;display: inherit;}
.cont-left .alignleft {float: left;}
.cont-left .alignright {float: right;}
.cont-right {width: 220px;float: right;}
.cont-right .wid{margin-bottom: 30px;}
.cont-right .wid input{border: 1px solid #222;width: 98%;}
.cont-right .wid{margin-bottom: 30px;}
.cont-right .wid input{border: 1px solid #222;width: 98%;}
.cont-right .wid ul li{margin-left: 0px;padding: 8px 0px 8px 5px;border-bottom:1px solid #eee;}

.mysocialwid .mysocial{padding-right: 2%}
.mysocialwid .mysocial a{font-size: 20px; color: white!important}

.container.texxt ul li{list-style-type: disc; margin-left: 30px; line-height: 30px}

.form.up-banner{height: auto; display: inline-block; width: 100%}
.form.up-banner .left-serv{float: left;width: 40%;color: white;}
.form.up-banner .left-serv p{text-align: left;}
.form.up-banner .left-serv ul li{list-style-type: disc; margin-left: 30px; line-height: 30px; text-align: left;}
.form.up-banner .right-serv{float: right;width: 55%;box-shadow: 0px 3px 8px 2px #ffffff;background: rgba(11, 56, 87, 0.7);}

.right-serv {}

.form.up-banner{text-align: center;width: 100%;border-radius: 4px;display: inline-block;background: url(../../uploads/2017/07/banner_2-copy.jpg);background-size: cover;background-position: center center;}
.form.up-banner h2{color: white;padding: 6px;margin: 0px;padding-top: 20px;}
.form.up-banner h2 strong{}
.form.up-banner label{color: white;}
.form.up-banner input{padding: 4px;width: 80%;height: 25px;background: transparent;border: 0px;border-bottom: 2px solid #fff;color: white;font-family: 'Muli', sans-serif;margin-bottom: 20px;font-size: 14px;}
.form.up-banner select{width: 100%;padding: 4px;font-size: 14px;border: 0px;border-bottom: 2px solid #fff;background: white;}
.form.up-banner textarea{}
.form.up-banner .left{width: 50%;float: left;text-align: left;padding: 0px 10px 0px 10px;box-sizing: border-box;}
.form.up-banner .left .col-1{margin: 10px 0px;clear: both;}
.form.up-banner .left .col-2{width: 50%;float: left;margin: 17px 0px;min-height: 50px;}
.form.up-banner .left .col-2 select{width: 90%;background: transparent;border: 0px;border-bottom: 2px solid #fff;background: white;font-family: 'Muli', sans-serif;padding: 4px;}
.form.up-banner .left input[type=radio]{width: 14px;margin-bottom: 0px;float: left;margin: 0px;margin-right: 2px;}
.form.up-banner .left input[type=date]{width: 100%;}
.form.up-banner .right{width: 50%;float: right;padding: 32px 20px 0px 20px;box-sizing: border-box;}
.form.up-banner .right input{padding: 4px;font-size: 14px;height: 26px;width: 95%;margin-bottom: 20px;border: 0px;border-bottom: 2px solid #fff;background: transparent;color: white;font-family: 'Muli', sans-serif;}
.form.up-banner .col-1{clear: both;}
.form.up-banner .wpcf7-submit{background: white;border: 0px;margin-bottom: 10px;padding: 10px;height: 40px;color: #0b3857;font-weight: bold;text-transform: uppercase;border-radius: 5px;font-size: 15px;width: 120px;float: right;margin-right: 22px;}
.form.up-banner .wpcf7-not-valid{margin-bottom: 0px!important;}
.form.up-banner span.wpcf7-not-valid-tip{font-size: 12px!important; text-align: right;}
.form.up-banner .inp-full{width: 100%!important}
.form.up-banner  span.wpcf7-list-item{color: white;margin: 0px;width: 68px;font-size: 12px;line-height: 21px;}
.form.up-banner .right input::-webkit-input-placeholder {color: white;}
.form.up-banner .right input::-moz-placeholder {color: white;}
.form.up-banner .right input:-ms-input-placeholder {color: white;}
.form.up-banner .right input:-moz-placeholder {color: white;}
.form.up-banner .left .col-2 input::-webkit-input-placeholder {color: white;}
.form.up-banner .left .col-2 input::-moz-placeholder {color: white;}
.form.up-banner .left .col-2 input::-ms-input-placeholder {color: white;}
.form.up-banner .left .col-2 input::-moz-placeholder {color: white;}
.form.up-banner .left .col-2 select::-webkit-input-placeholder {color: white;}
.form.up-banner .left .col-2 select::-moz-placeholder {color: white;}
.form.up-banner .left .col-2 select::-ms-input-placeholder {color: white;}
.form.up-banner .left .col-2 select::-moz-placeholder {color: white;}

.contact-form h3{    margin: 10px 0px 0px 0px;    color: white;}
.contact-form textarea{width: 80%;background: transparent;border: 0px;border-bottom: 2px solid white;height: 44px;color: white;font-size: 16px;font-family: 'Muli', sans-serif;margin-bottom: 9px;}
.contact-form input::-webkit-input-placeholder {color: white;}
.contact-form input::-moz-placeholder {color: white;}
.contact-form input:-ms-input-placeholder {color: white;}
.contact-form input:-moz-placeholder {color: white;}
.contact-form textarea::-webkit-input-placeholder {color: white;}
.contact-form textarea::-moz-placeholder {color: white;}
.contact-form textarea::-ms-input-placeholder {color: white;}
.contact-form textarea::-moz-placeholder {color: white;}

.career-container{background: url(../../uploads/2017/07/banner_2-copy.jpg);background-size: cover;background-position: center center;padding: 30px 0px;color: white;}
.car-points{text-align:center}
.car-points li {list-style: none; display: inline-block;width: 33%;line-height: 40px; text-decoration:underline}
.car-posts{}
.car-posts h2{text-align: center;margin-bottom: 0px;}
.car-posts strong{text-align: center;margin-bottom: 0px;width: 100%;display: inline-block;}
.car-posts h3{margin: 6px 0px;border-bottom: 1px dashed white;}
.car-posts p{margin: 10px 0px;text-align: left;}
.car-posts-single{background: #0b3857;color: white;padding: 5px 15px 15px 15px;box-sizing: border-box;margin: 10px 0px;display: inline-block;width: 100%;}
.car-posts-single strong{display: inline;}
.car-posts-single a{background: white;padding: 5px;color: #0b3857;font-weight: bold;border-radius: 3px;float: right;}

.why-text ul li{list-style-type: disc; margin-left: 30px; line-height: 30px; text-align: left;}
.page-id-140 .form.up-banner  span.wpcf7-list-item{width:100%}
.page-id-141 .form.up-banner  span.wpcf7-list-item{width:100%}

.sidenav {height: 100%;width: 0;position: fixed;z-index: 999;top: 0;left: 0;background-color: rgba(17, 17, 17, 0.9);overflow-x: hidden;transition: 0.5s;padding-top: 60px;text-align:center;}
.sidenav a {padding: 8px 8px 8px 32px;text-decoration: none;font-size: 50px;color: #fff;display: block;transition: 0.3s;}
.sidenav a:hover{color: #f1f1f1;}
.sidenav .closebtn {position: absolute;top: 20px;right: 25px;font-size: 50px;margin-left: 50px;}
.sidenav h2{color: white;font-size: 17px;font-weight: 300;margin-bottom: 20px;}
.sidenav .wpcf7{width: 300px; margin: 0 auto}
.sidenav input{height: 34px;width: 100%;padding: 0px 10px;font-size: 14px;font-family: 'Prompt', sans-serif;border: 0px;margin-bottom: 10px;box-sizing: border-box;}
.sidenav textarea{height: 65px;width: 100%;padding: 10px;font-size: 14px;font-family: 'Prompt', sans-serif;border: 0px;margin-bottom: 10px;background: white;box-sizing: border-box;}
.sidenav .wpcf7-submit{background: #0b3857;text-transform: uppercase;font-weight: bold;color: white;width: 100%;}

input[type="date"]{text-transform: uppercase;}

.gmmap{width: 100%!important}

.tablepress tfoot th, .tablepress thead th{background-color: #0b3857!important; color: white; text-align: center;}
.tablepress tbody td{text-align: center;}
.tablepress tbody td a{ color: #0b3857; font-weight: bold; text-transform: uppercase; text-decoration: underline;}